.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-content {
  background-color: #0f0d1c;
  border-radius: 10px;
  width: 1000px;
  height: 500px;
  position: relative;
  overflow: hidden;
  display: flex;
}

button {
  font-size: calc(10px + 2vmin);
}
