.App {
  background-color: #333;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
}

main{
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

/**
  background: rgb(98,184,246);
  background: linear-gradient(180deg, rgba(98,184,246,1) 0%, rgba(44,121,193,1) 75%);
**/